body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1f1671;
}

.container {
    background-color: white;
    border: 1px solid #ccc;
    padding: 35px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    width: 110px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.school-name {
    font-size: 1.2em;
    font-weight: bold;
}

.form-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group h3 {
    margin: 0 0 5px 0;
    font-size: 1em;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
}

.submit-button:hover {
    background-color: #45a049;
}

.footer {
    margin-top: 20px;
}

.footer a {
    color: #000;
    text-decoration: none;
    margin: 0 5px;
}

.footer a:hover {
    text-decoration: underline;
}
